{% extends 'base.html.twig' %}
{% block title %}Inscription Réussiste - To Do List Shebam{% endblock %}
{% block content %}
<meta http-equiv="refresh" content="7;url=http://localhost/public/index.php/"/>

	<h1>Inscription Réussite</h1>
    <hr>
    <p>Nous vous confirmons que votre inscription a bien été enregistré.</p>
    <p>Vous allez être rediré vers la page de connnexion d'ici un instant.</p>
{% endblock %}

