/* General */

.changelog{margin: 0 25px 25px 0;padding: 20px;border: 2px solid #000000; border-radius: 10px;width: 70%;}
.changelog p{clear: both;color: var(--blue-dark-shebam)}
.changelog a{color: var(--blue-dark-shebam);}
.changelog a:hover{color: var(--color-yellow-dark)}
.changelog p:first-child{text-align: center;color: var(--color-yellow-dark); font-weight: 400;font-size: 20px;text-decoration: underline;}
.pointer-event{pointer-events: none;}