{% extends 'back/index.html.twig' %}

{% block title %}Liste des tâches - Administration{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}Liste de nos tâches{% endblock %}
	</div>
	{% block admin_utilisateur %}
		<div class="container">
			<div class="d-flex flex-row-reverse">
				<a href="{{ path('status_add_admin') }}" type="button" class="btn btn-outline-light mb-3">
					<i class="fas fa-plus-circle"></i>
				</a>
			</div>

			<table class="table table-striped bg-light">
				<thead class="thead-light">
					<tr>
						<th scope="col">Nom du statut</th>
                        <th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for status in status %}
						<tr>
							<td>{{status.name}}</td>
							<td>
								<a href="{{ path('status_detete_admin', {"id": status.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un statut')"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endblock %}
{% endblock %}


