{% extends 'base.html.twig' %}

{% block content %}
{% block title %}Envoie du lien de réinitialisation - To Do List{% endblock %}

{% block body %}
<div class="was-validated form-signin text-center background-login bg-white-shebam is-valid">
    <h2 class="text-center mb-4">Email Envoyé</h2>
    <p>Un email de réinitialisation de mot vient de t'être envoyé. tu as  {{ tokenLifetime|date('g') }} heures pour changer ton mot de passe</p>
    <p class="mb-4">Si tu n'as pas recu de mail, vérifie tes spams ou <a href="{{ path('app_forgot_password_request') }}">réessaye</a>.</p>
    <a href="{{ path('app_login') }}" class="btn-blue-shebam">Connexion</a>
</div>
{% endblock %}
{% endblock %}
