{% extends 'base.html.twig' %}

{% block title %}Mot de passe - To Do List Shebam{% endblock %}
{% block content %}
    {% block body %}
        <h1>Redéfinir le mot de passe</h1>
<div class="was-validated">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Enregistrer</button>
        {{ form_end(resetForm) }}
</div>

    {% endblock %}


{% endblock %}
