{% extends 'base.html.twig' %}

{% block title %}Mot de passe changé - To Do List Shebam{% endblock %}

{% block content %}
<meta http-equiv="refresh" content="7;url=http://localhost/to-do-list-shebam/public/index.php"/>
<h1>Changement de mot mot de passe</h1>
<hr>
<p>Le mot de passe a bien été changé !</p>
<p>Tu vas être redirigé vers la page de ton compte d'ici un instant.</p>

{% endblock %}