.showHiddenPassword-wrapper {
    position: relative;
}

.showHiddenPassword-wrapper .is-invalid {
    background-image: none !important;
    background-size: 0 !important;
}

.showHiddenPassword-toggle {
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
    color: #000000;
}
