{% extends 'base.html.twig' %}

{% block title %}Inscription - City Access{% endblock %}
{%  block content %}
    <h1>Inscription</h1>

{% if notification %}
	<hr>
	    <div class="alert alert-info">{{ notification }}</div>
	<hr>
{% endif %}
    <div class="was-validated">
	    {{ form(form) }}
	</div>
<a href="{{ path('account_password') }}" class=" btn btn-small btn-primary">Déjà inscrit ? Connectez-vous</a>

{%  endblock %}
