{% extends 'base.html.twig' %}

{% block title %}Erreur 404 - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}
<div class="pt-5 pb-5">
    <div class="container text-center form-front">
		<img class="d-block mx-auto" src="{{ asset('/assets/images/todo.png') }}" alt="Logo de connexion To Do List">
        <h1 class=" color-yellow mt-4 mb-3">Erreur {{ status_code }}</h1>
        <p class="color-white">Page non trouvée.</p>
        <p class="color-white mb-4">La page que vous cherchez n'a pas été trouvée ou a été supprimée.</p>   
        <p class="btn btn-yellow text-bold"><a href="{{ path('home') }}">Retour à la page d'accueil</a></p>      
    </div>
</div>
{% endblock %}